body {
  margin: 0;
  box-sizing: border-box;
  background-color: wheat;
  height: 100vh;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: yellow;
  height: 50px;
  grid-column: span 3;
}

nav div {
  font: 20px;
  margin: 10px 10px 10px 10px;
  color: black;
}

section {
  display: flex;
}

nav {
  grid-column: span 5;
}

main {
  display: grid;
  grid-template-columns: 5fr 0.5fr 15fr 0.5fr 2fr;
  grid-template-rows: 11fr 2fr 11fr 1fr 5fr 2fr 5fr;
}

#A {
  background-color: white;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

#B {
  background-color: black;
  color: white;
  grid-column: 2 / 3;
  grid-row: 1 / 8;
}

#C {
  background-color: red;
  grid-column: 3 / 6;
  grid-row: 1 / 4;
}

#D {
  background-color: black;
  color: white;
  grid-column: 1 / 2;
  grid-row: 4 / 5;
}

#E {
  background-color: black;
  color: white;
  grid-column: 5 / 6;
  grid-row: 4 / 5;
}

#F {
  background-color: black;
  color: white;
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

#G {
  background-color: white;
  grid-column: 1 / 2;
  grid-row: 3 / 4;
}

#H {
  background-color: black;
  color: white;
  grid-column: 3 / 4;
  grid-row: 4 / 5;
}

#I {
  background-color: blue;
  color: white;
  grid-column: 1 / 2;
  grid-row: 5 / 8;
}

#J {
  background-color: white;
  grid-column: 3 / 4;
  grid-row: 5 / 8;
}

#K {
  background-color: black;
  color: white;
  grid-column: 4 / 5;
  grid-row: 4 / 8;
}

#L {
  background-color: white;
  grid-column: 5 / 6;
  grid-row: 5 / 8;
}

#M {
  background-color: black;
  color: white;
  grid-column: 5 / 6;
  grid-row: 6 / 7;
}

#N {
  background-color: yellow;
  grid-column: 5 / 6;
  grid-row: 7 / 8;
}
